# Node.js
node_modules/

# Playwright reports
allure-report/
allure-results/
test-results/
playwright-report/
blob-report/
playwright/.cache/

# Generated features
.features-gen/
.features-gen/features/
